@import "styles/Variables";

.container {
  display: none;
}

@media $md-and-below {
  .container {
    position: fixed;
    top: 70px;
    width: 100%;
    display: none;
    z-index: 100;
    height: 100%;
  }

  .active-container {
    display: block;
  }

  .hide-container {
    height: auto;
  }

  .tabs-wrapper {
    display: flex;
    flex-flow: row;
  }

  .tabs-wrapper {
    display: flex;
    flex-flow: row;
  }

  .tab {
    flex-grow:1;
    flex-basis: 0;
    color: $gigas-light;
    background-color: $white;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    border: 0;
    height: 50px;
    border-bottom: 1px solid $silver;
  }

  .active-tab {
    color: $mountain-meadow;
    border-bottom: 2px solid $mountain-meadow;
  }

  .filters {
    height: calc(100% - 120px);
    background-color: $white;
    display: none;
    padding-left: 10px;
    overflow-y: scroll;
    z-index: -1;
  }

  .filters-buttons {
    display: none;
  }
  .active-buttons {
    display: block;
  }

  .active-filters {
    display: block;
  }

  .filters-item {
    display: block;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $silver;
    background-color: $white;
    width: 100%;
    text-align: left;
    padding: 17px 0;
    font-size: 13px;
    color: $emperor;
  }

  .disable-item {
    opacity: .3;
  }
}
