@import "styles/Variables";
@import "styles/Mixins";

$cart-icon-purple-path: ../../assets/imgs/cart-icon-purple;
$cart-icon-purple: $(cart-icon-purple-path).png;

$cart-icon-gray-path: ../../assets/imgs/cart-icon-gray;
$cart-icon-gray: $(cart-icon-gray-path).png;

$cart-icon-green-path: ../../assets/imgs/cart-icon-green;
$cart-icon-green: $(cart-icon-green-path).png;

$id-icon-gray-path: ../../assets/imgs/id-icon-gray;
$id-icon-gray: $(id-icon-gray-path).png;

$id-icon-green-path: ../../assets/imgs/id-icon-green;
$id-icon-green: $(id-icon-gray-path).png;

$delivery-icon-gray-path: ../../assets/imgs/delivery-icon-gray;
$delivery-icon-gray: $(delivery-icon-gray-path).png;

$delivery-icon-green-path: ../../assets/imgs/delivery-icon-green;
$delivery-icon-green: $(delivery-icon-green-path).png;

$payment-icon-gray-path: ../../assets/imgs/payment-icon-gray;
$payment-icon-gray: $(payment-icon-gray-path).png;

$payment-icon-green-path: ../../assets/imgs/payment-icon-green;
$payment-icon-green: $(payment-icon-green-path).png;

.steps {
  text-align: center;
  width: 495px;
  padding: 0;
  margin: 30px auto;

  @media $sm-and-below {
    width: auto;
    margin: 30px 0px;
  }

}

.step {
  display: inline-block;
  position: relative;
  padding-top: 70px;
  width: 25%;
  font-size: 14px;
  overflow: hidden;
  padding-right: 1px;

  @media $sm-and-below {
    padding-top: 36px;
  }

  &:before {
    content: '';
    width: 51px;
    height: 51px;
    top: 0;
    left: 50%;
    margin-left: -28px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #9B9B9B;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $white;
    z-index: 2;

    @media $sm-and-below {
      width: 36px;
      height: 36px;
      margin-left: -22px;
      background-size: 56% !important;
      border: 1px solid #9B9B9B;
    }
  }

  &::after {
    content: '';
    position: absolute;
    border-top: 2px solid #9B9B9B;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -18px;

    @media $sm-and-below {
      margin-top: -1px;
    }
  }

  &:first-child::after {
    left: 50%;
  }

  &:last-child {
    &::after {
      left: inherit;
      right: 50%;
    }

    .text-wrapper::after {
      display: none;
    }
  }

  .text-wrapper {
    display: block;
    position: relative;

    @media $sm-and-below {
      span {
        display: none;
      }
    }

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      background-color: #9B9B9B;
      position: absolute;
      border-radius: 50%;
      right: -1px;
      top: -49px;
      z-index: 1;

      @media $sm-and-below {
        right: -1px;
        top: -22px;
        width: 7px;
        height: 7px;
      }
    }
  }

  &.active {
    color: $mountain-meadow;
    font-weight: 500;

    &::before {
      border: 2px solid $mountain-meadow;

      @media $sm-and-below {
        border-width: 1px;
      }
    }

    &::after {
      border-color: $mountain-meadow;
    }

    .text-wrapper {
      &::after {
        background-color: $mountain-meadow
      }
    }
  }
}


.icon-cart {
  &::before {
    @mixin retina $cart-icon-gray-path;
  }
  &.active::before {
    @mixin retina $cart-icon-green-path;
  }
}

.icon-identification {
  &::before {
    @mixin retina $id-icon-gray-path;
  }
  &.active::before {
    @mixin retina $id-icon-green-path;
  }
}

.icon-delivery {
  &::before {
    @mixin retina $delivery-icon-gray-path;
  }
  &.active::before {
    @mixin retina $delivery-icon-green-path;
  }
}

.icon-payment {
  &::before {
    @mixin retina $payment-icon-gray-path;

    @media $sm-and-below {
      width: 36px;
      height: 36px;
      background-size: 37% !important;
    }
  }
  &.active::before {
    @mixin retina $payment-icon-green-path;
  }
}
