@import "normalize.css";
@import "./Grid";
@import "./SlickSlider";
@import "./Variables";
@import "./InputRange";

body {
  font-size: 100%;
  font-family: $lato;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;

  * {
    outline: none !important;
  }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 9997 !important;
}
