@import "styles/Variables";

.wrapper {
  position: relative;
  margin: 45px 0 25px 0;
}

.back-button {
  position: absolute;
}

.title {
  display: block;

  width: 100%;
  margin: 45px 0 25px 0;
  /*padding-right: 130px; essa linha tava quebrando outras páginas*/

  text-align: center;

  color: $emperor;

  font-family: $lato;
  font-size: 1.05em;
  font-weight: 100;
}

.hide-title {
  display: none;
}

@media $md-and-below {

  .wrapper {
    margin-top: 115px;
  }
}
